.window-topbar{
    width: 100%;
    height: var(--topbar);
    box-shadow: var(--subtle-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.window-topbar>div{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--padding);
    gap: var(--padding);
}

.window-topbar>div>*{
    height: 100%;
}